@import './styles/helper/helper';

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-size: 24px;
}

h2 {
  padding: 0 2rem;
  margin: 2rem 0;
  font-weight: 500;
  font-size: 32px;
}

.container {
  display: flex;
}

// UTILITIES
.text {
  &__primary {
    color: $primary-clr;
  }
}

.bg__light {
  background-color: #F4F4F4;
}

.db__content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;

  /* Add custom styles for the scrollbar */
  &::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#fff, 0.3); /* Color of the thumb */
    border-radius: 6px; /* Round the corners of the thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-clr; /* Color of the track */
  }
}

.btn {
  all: unset;
  padding: 0.7rem 1rem;
  border-radius: 5px;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease;

  font-size: 0.8rem;

  .icon {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }

  &__primary {
    background-color: #41AC4C;
    color: #fff;

    &:hover {
      background-color: #389441;
    }
  }

  &__secondary {
    background-color: $secondary-clr;
    color: #fff;

    &:hover {
      background-color: $primary-clr;
    }
  }

  &__danger {
    background-color: #C52B2B;
    color: #fff;

    &:hover {
      background-color: #a82323;
    }
  }

  &__light {
    background-color: rgba($secondary-clr, 0.15);
    color: $secondary-clr;

    &:hover {
      background-color: rgba($secondary-clr, 0.3);
    }
  }
}

.search {
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  width: 300px;

  display: flex;
  align-items: center;

  &__input {
    all: unset;
    width: 100%;
    padding: 0.75rem 1rem;
    color: #667085;
  }

  &__icon {
    font-size: 1.8rem;
    color: #667085;
    margin-left: 1rem;
  }

  &:focus-within {
    box-shadow: 0 3px 10px rgba($secondary-clr, 0.15);
    border-color: $secondary-clr !important;
  }
}

.length-tag {
  background-color: rgba($secondary-clr, 0.1);
  border-radius: 2rem;
  font-size: 0.9rem;
  padding: 0.2rem 1rem;
  font-weight: 400;
  display: inline-block;
  margin-left: 0.5rem;
}