@import '../../styles/helper/helper';

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  width: 100%;

  p {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 2rem;
    color: #667085;
    line-height: 1.6;
    max-width: 800px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
}