@import '../../../styles/helper/helper';

.sidebar {
  // background-color: $primary-clr;
  background: rgb(19,32,67);
background: linear-gradient(90deg, rgba(19,32,67,1) 0%, rgba(31,65,114,1) 50%);
  height: 100vh;
  min-width: 240px;
  padding: 1rem;
  position: relative;
  // overflow: hidden;


  &__links {
    margin-top: 2rem;
    li {
      color: #fff;
      list-style: none;
      padding: 0.7rem;
      border-radius: 5px;
      font-size: 0.8rem;

      display: flex;
      align-items: center;
      opacity: 0.6;

      .icon {
        display: flex;
        font-size: 1rem;
        margin-right: 0.4rem;
      }

      &.active {
        opacity: 1;
        background-color: lighten($primary-clr, 5%);
      }
    }

    &__tasks {
      flex-direction: column;
      align-items: start !important;

      div {
        display: flex;
      }

      li {
        padding: 0;
        line-height: 1.6;
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: calc(100% - 1rem);

    position: absolute;
    bottom: 1rem;

    &__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: lighten($primary-clr, 5%);
      margin-right: 0.5rem;

      img {
        width: 100%;
        display: block;
        border-radius: 50%;
      }
    }

    &__info {
      display: flex;
      align-items: center;

      h4 {
        font-size: 0.8rem;
      }
    
      p {
        font-size: 0.6rem;
      }
    }

    .logout {
      background-color: lighten($primary-clr, 5%);
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-right: 1rem;
      margin-left: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        display: flex;
        font-size: 1.3rem;
      }
    }
  }
}