@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './styles/helper/helper';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

// utilities
.btn {
  &-primary {
    @include btn;
    border: 1px solid $primary-clr;
    background-color: $primary-clr;
    color: #fff;

    &:hover {
      background-color: darken($primary-clr, 8%);
    }
  }

  &-secondary {
    @include btn;
    border: 1px solid $primary-clr;
    color: $primary-clr;

    &:hover {
      background-color: $primary-clr;
      color: #fff;
    }
  }
}

.form {
  div {
    margin-bottom: 1rem;
  }

  &__input {
    // all: unset;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: 1px solid #8692A6;
    width: calc(100% - 2rem);
    font-size: 0.9rem;
    outline: none;

    &:focus {
      border-color: $primary-clr;
      box-shadow: 0 0 10px rgba($primary-clr, 0.2);
    }
  }

  &__label {
    display: block;
    color: #696F79;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;

    span {
      color: $primary-clr;
    }
  }
}