@import '../../styles/helper/helper';

.projects {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 2rem;

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      display: flex;
      align-items: center;
    }

    .btn {
      margin-left: 1rem;
    }
  }

  .all__projects {
    padding: 0 2rem;

    .my__projects {
      margin-bottom: 2rem;
    }
  }

  &__loading {
    position: relative;
    // background-color: #fff;
    height: 100px;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .lds-roller {
      transform: scale(0.7);
      div:after {
        background: $secondary-clr;
      }
    }
  }
}