@import '../../styles/helper/helper';

.project__tickets {
  .tickets__header {
    padding: 2rem;

    h3 {
      span {
        margin: 0.5rem 0 0 0.5rem;
      }
    }
  }

  &__board {
    padding: 0 2rem;
    
    overflow-y: auto;
    /* Add custom styles for the scrollbar */
    &::-webkit-scrollbar {
      height: 10px !important; /* Adjust the width as needed */
      position: absolute;
      bottom: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(#fff, 0.3); /* Color of the thumb */
      border-radius: 10px; /* Round the corners of the thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: $primary-clr; /* Color of the track */
    }
  }
}