@import '../../styles/helper/helper';

.ticket {
  padding: 2rem 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);


  &__type {
    &.blue {
      color: #1E3FF1;

      span {
        background-color: #1E3FF1 !important;
      }
    }

    &.green {
      color: #41AC4C;

      span {
        background-color: #41AC4C !important;
      }
    }

    &.red {
      color: #F80D1B;

      span {
        background-color: #F80D1B !important;
      }
    }

    span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5rem;
    }

    small {
      font-size: 1rem;
      text-transform: capitalize;
    }

    display: flex;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
      display: block;
    }
  }

  &__name {
    font-size: 18px !important;
    font-weight: 500;
    color: $primary-clr;
    margin: 0 !important;
  }

  &__description {
    font-size: 0.9rem;
    color: #667085;
    margin: 0.5rem 0;
  }

  &__owner {
    background-color: $secondary-clr;
    color: #fff;
    font-size: 0.8rem;
    display: inline-block;
    border-radius: 1rem;
    padding: 0.2rem 0.7rem;
    margin-top: 0.5rem;
  }
}